<!DOCTYPE html>
<html>
  <head>
  <title>Chord Practice - An Application to Help Budding Guitarists Develop Chord Switching Speed and Accuracy</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bonsai/0.4.5/bonsai.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
